roadmap/features.txt
.env
test.py
messages/__pycache__/commands.cpython-311.pyc
discord.log
test/__pycache__/test.cpython-311.pyc
test/test2.py
__pycache__/aBotHasNoName.cpython-311.pyc
__pycache__/__init__.cpython-311.pyc
Cogs/__pycache__/Stats.cpython-311.pyc
Cogs/__pycache__/Messages.cpython-311.pyc
Cogs/__pycache__/__init__.cpython-311.pyc
databases/__pycache__/events.cpython-311.pyc
utilities/__pycache__/datetime.cpython-311.pyc
utilities/__pycache__/__init__.cpython-311.pyc
main.env
development.env
utils/__pycache__/embeds.cpython-311.pyc
utils/__pycache__/datetime.cpython-311.pyc
utils/__pycache__/__init__.cpython-311.pyc
Cogs/__pycache__/Configs.cpython-311.pyc
Cogs/__pycache__/Configs.cpython-311.pyc
Cogs/__pycache__/Configs.cpython-311.pyc
Cogs/__pycache__/Configs.cpython-311.pyc
