roadmap/features.txt
.env
test.py
test/__init__.py
resources/discordServerInsights.png
resources/discordServerInsights2.png
resources/discordServerInsights3.png
ignore_me.txt
data/json/backup/__init__.py
main.env
development.env
test/test2.py
discord.log
*.pyc
Cogs/test/test1.py
Cogs/test/test2.py
