roadmap/features.txt
.env
test.py
messages/__pycache__/commands.cpython-311.pyc
discord.log
test/__pycache__/test.cpython-311.pyc
test/test2.py
__pycache__/aBotHasNoName.cpython-311.pyc
__pycache__/__init__.cpython-311.pyc
Cogs/__pycache__/Stats.cpython-311.pyc
Cogs/__pycache__/Messages.cpython-311.pyc
Cogs/__pycache__/__init__.cpython-311.pyc
databases/__pycache__/events.cpython-311.pyc
utilities/__pycache__/datetime.cpython-311.pyc
utilities/__pycache__/__init__.cpython-311.pyc
main.env
development.env
utils/__pycache__/embeds.cpython-311.pyc
utils/__pycache__/datetime.cpython-311.pyc
utils/__pycache__/__init__.cpython-311.pyc
Cogs/__pycache__/Configs.cpython-311.pyc
Cogs/__pycache__/Admin.cpython-311.pyc
Cogs/__pycache__/Configs.cpython-311.pyc
Cogs/__pycache__/Admin.cpython-311.pyc
Cogs/__pycache__/Configs.cpython-311.pyc
Cogs/__pycache__/Admin.cpython-311.pyc
Cogs/__pycache__/Configs.cpython-311.pyc
Cogs/__pycache__/Admin.cpython-311.pyc
data/databases/stats/__pycache__/__init__.cpython-311.pyc
data/databases/stats/__pycache__/channels.cpython-311.pyc
data/databases/stats/__pycache__/roles.cpython-311.pyc
data/databases/stats/__pycache__/servers.cpython-311.pyc
data/databases/stats/__pycache__/users.cpython-311.pyc
data/json/__pycache__/__init__.cpython-311.pyc
data/json/lockdowns/__pycache__/__init.cpython-311.pyc
test/__pycache__/test2.cpython-311.pyc
utils/__pycache__/serverManagement.cpython-311.pyc
data/databases/__pycache__/message_handler.cpython-311.pyc
data/databases/__pycache__/events.cpython-311.pyc
data/databases/__pycache__/db_management.cpython-311.pyc
Cogs/__pycache__/Test.cpython-311.pyc
Cogs/__pycache__/Configs.cpython-311.pyc
data/databases/__pycache__/events.cpython-311.pyc
Cogs/__pycache__/Configs.cpython-311.pyc
data/databases/__pycache__/events.cpython-311.pyc
Cogs/__pycache__/Roles.cpython-311.pyc
Cogs/__pycache__/Configs.cpython-311.pyc
Cogs/__pycache__/Roles.cpython-311.pyc
data/databases/__pycache__/db_management.cpython-311.pyc
data/databases/__pycache__/message_handler.cpython-311.pyc
data/databases/stats/__pycache__/__init__.cpython-311.pyc
data/databases/stats/__pycache__/channels.cpython-311.pyc
data/databases/stats/__pycache__/roles.cpython-311.pyc
data/databases/stats/__pycache__/servers.cpython-311.pyc
data/databases/stats/__pycache__/users.cpython-311.pyc
Cogs/__pycache__/Configs.cpython-311.pyc
Cogs/__pycache__/Roles.cpython-311.pyc
data/databases/__pycache__/db_management.cpython-311.pyc
data/databases/__pycache__/message_handler.cpython-311.pyc
data/databases/stats/__pycache__/channels.cpython-311.pyc
data/databases/stats/__pycache__/__init__.cpython-311.pyc
data/databases/stats/__pycache__/roles.cpython-311.pyc
data/databases/stats/__pycache__/users.cpython-311.pyc
data/databases/stats/__pycache__/servers.cpython-311.pyc
Cogs/__pycache__/Test.cpython-311.pyc
resources/discordServerInsights.png
resources/discordServerInsights2.png
resources/discordServerInsights3.png
